i.aprs-table0-24, i.aprs-table0-48, i.aprs-table0-64, i.aprs-table0-128, i.aprs-table0,
i.aprs-table1-24, i.aprs-table1-48, i.aprs-table1-64, i.aprs-table1-128, i.aprs-table1,
i.aprs-table2-24, i.aprs-table2-48, i.aprs-table2-64, i.aprs-table2-128, i.aprs-table2 {
  display: inline-block;
  margin: 0 0 -8px;
  padding: 0; }


i.aprs-table0-24 {
  background: url("aprs-symbols-24-0.png") no-repeat;
  width: 24px;
  height: 24px; }

i.aprs-table0-48 {
  background: url("aprs-symbols-48-0.png") no-repeat;
  width: 48px;
  height: 48px; }

i.aprs-table0-64 {
  background: url("aprs-symbols-64-0.png") no-repeat;
  width: 64px;
  height: 64px; }

i.aprs-table0-128 {
  background: url("aprs-symbols-128-0.png") no-repeat;
  width: 128px;
  height: 128px; }

i.aprs-table0 {
  background: url("aprs-symbols-24-0.png") no-repeat;
  width: 24px;
  height: 24px; }


i.aprs-table1-24 {
  background: url("aprs-symbols-24-1.png") no-repeat;
  width: 24px;
  height: 24px; }

i.aprs-table1-48 {
  background: url("aprs-symbols-48-1.png") no-repeat;
  width: 48px;
  height: 48px; }

i.aprs-table1-64 {
  background: url("aprs-symbols-64-1.png") no-repeat;
  width: 64px;
  height: 64px; }

i.aprs-table1-128 {
  background: url("aprs-symbols-128-1.png") no-repeat;
  width: 128px;
  height: 128px; }

i.aprs-table1 {
  background: url("aprs-symbols-24-1.png") no-repeat;
  width: 24px;
  height: 24px; }


i.aprs-table2-24 {
  background: url("aprs-symbols-24-1.png") no-repeat;
  width: 24px;
  height: 24px; }

i.aprs-table2-48 {
  background: url("aprs-symbols-48-1.png") no-repeat;
  width: 48px;
  height: 48px; }

i.aprs-table2-64 {
  background: url("aprs-symbols-64-1.png") no-repeat;
  width: 64px;
  height: 64px; }

i.aprs-table2-128 {
  background: url("aprs-symbols-128-1.png") no-repeat;
  width: 128px;
  height: 128px; }

i.aprs-table2 {
  background: url("aprs-symbols-24-1.png") no-repeat;
  width: 24px;
  height: 24px; }


i.aprs-address-24-0-0 {
  background-position: -0px -0px; }

i.aprs-address-48-0-0 {
  background-position: -0px -0px; }

i.aprs-address-64-0-0 {
  background-position: -0px -0px; }

i.aprs-address-128-0-0 {
  background-position: -0px -0px; }

i.aprs-address-0-0 {
  background-position: -0px -0px; }

i.aprs-address-24-0-1 {
  background-position: -24px -0px; }

i.aprs-address-48-0-1 {
  background-position: -48px -0px; }

i.aprs-address-64-0-1 {
  background-position: -64px -0px; }

i.aprs-address-128-0-1 {
  background-position: -128px -0px; }

i.aprs-address-0-1 {
  background-position: -24px -0px; }

i.aprs-address-24-0-2 {
  background-position: -48px -0px; }

i.aprs-address-48-0-2 {
  background-position: -96px -0px; }

i.aprs-address-64-0-2 {
  background-position: -128px -0px; }

i.aprs-address-128-0-2 {
  background-position: -256px -0px; }

i.aprs-address-0-2 {
  background-position: -48px -0px; }

i.aprs-address-24-0-3 {
  background-position: -72px -0px; }

i.aprs-address-48-0-3 {
  background-position: -144px -0px; }

i.aprs-address-64-0-3 {
  background-position: -192px -0px; }

i.aprs-address-128-0-3 {
  background-position: -384px -0px; }

i.aprs-address-0-3 {
  background-position: -72px -0px; }

i.aprs-address-24-0-4 {
  background-position: -96px -0px; }

i.aprs-address-48-0-4 {
  background-position: -192px -0px; }

i.aprs-address-64-0-4 {
  background-position: -256px -0px; }

i.aprs-address-128-0-4 {
  background-position: -512px -0px; }

i.aprs-address-0-4 {
  background-position: -96px -0px; }

i.aprs-address-24-0-5 {
  background-position: -120px -0px; }

i.aprs-address-48-0-5 {
  background-position: -240px -0px; }

i.aprs-address-64-0-5 {
  background-position: -320px -0px; }

i.aprs-address-128-0-5 {
  background-position: -640px -0px; }

i.aprs-address-0-5 {
  background-position: -120px -0px; }

i.aprs-address-24-0-6 {
  background-position: -144px -0px; }

i.aprs-address-48-0-6 {
  background-position: -288px -0px; }

i.aprs-address-64-0-6 {
  background-position: -384px -0px; }

i.aprs-address-128-0-6 {
  background-position: -768px -0px; }

i.aprs-address-0-6 {
  background-position: -144px -0px; }

i.aprs-address-24-0-7 {
  background-position: -168px -0px; }

i.aprs-address-48-0-7 {
  background-position: -336px -0px; }

i.aprs-address-64-0-7 {
  background-position: -448px -0px; }

i.aprs-address-128-0-7 {
  background-position: -896px -0px; }

i.aprs-address-0-7 {
  background-position: -168px -0px; }

i.aprs-address-24-0-8 {
  background-position: -192px -0px; }

i.aprs-address-48-0-8 {
  background-position: -384px -0px; }

i.aprs-address-64-0-8 {
  background-position: -512px -0px; }

i.aprs-address-128-0-8 {
  background-position: -1024px -0px; }

i.aprs-address-0-8 {
  background-position: -192px -0px; }

i.aprs-address-24-0-9 {
  background-position: -216px -0px; }

i.aprs-address-48-0-9 {
  background-position: -432px -0px; }

i.aprs-address-64-0-9 {
  background-position: -576px -0px; }

i.aprs-address-128-0-9 {
  background-position: -1152px -0px; }

i.aprs-address-0-9 {
  background-position: -216px -0px; }

i.aprs-address-24-0-10 {
  background-position: -240px -0px; }

i.aprs-address-48-0-10 {
  background-position: -480px -0px; }

i.aprs-address-64-0-10 {
  background-position: -640px -0px; }

i.aprs-address-128-0-10 {
  background-position: -1280px -0px; }

i.aprs-address-0-10 {
  background-position: -240px -0px; }

i.aprs-address-24-0-11 {
  background-position: -264px -0px; }

i.aprs-address-48-0-11 {
  background-position: -528px -0px; }

i.aprs-address-64-0-11 {
  background-position: -704px -0px; }

i.aprs-address-128-0-11 {
  background-position: -1408px -0px; }

i.aprs-address-0-11 {
  background-position: -264px -0px; }

i.aprs-address-24-0-12 {
  background-position: -288px -0px; }

i.aprs-address-48-0-12 {
  background-position: -576px -0px; }

i.aprs-address-64-0-12 {
  background-position: -768px -0px; }

i.aprs-address-128-0-12 {
  background-position: -1536px -0px; }

i.aprs-address-0-12 {
  background-position: -288px -0px; }

i.aprs-address-24-0-13 {
  background-position: -312px -0px; }

i.aprs-address-48-0-13 {
  background-position: -624px -0px; }

i.aprs-address-64-0-13 {
  background-position: -832px -0px; }

i.aprs-address-128-0-13 {
  background-position: -1664px -0px; }

i.aprs-address-0-13 {
  background-position: -312px -0px; }

i.aprs-address-24-0-14 {
  background-position: -336px -0px; }

i.aprs-address-48-0-14 {
  background-position: -672px -0px; }

i.aprs-address-64-0-14 {
  background-position: -896px -0px; }

i.aprs-address-128-0-14 {
  background-position: -1792px -0px; }

i.aprs-address-0-14 {
  background-position: -336px -0px; }

i.aprs-address-24-0-15 {
  background-position: -360px -0px; }

i.aprs-address-48-0-15 {
  background-position: -720px -0px; }

i.aprs-address-64-0-15 {
  background-position: -960px -0px; }

i.aprs-address-128-0-15 {
  background-position: -1920px -0px; }

i.aprs-address-0-15 {
  background-position: -360px -0px; }

i.aprs-address-24-1-0 {
  background-position: -0px -24px; }

i.aprs-address-48-1-0 {
  background-position: -0px -48px; }

i.aprs-address-64-1-0 {
  background-position: -0px -64px; }

i.aprs-address-128-1-0 {
  background-position: -0px -128px; }

i.aprs-address-1-0 {
  background-position: -0px -24px; }

i.aprs-address-24-1-1 {
  background-position: -24px -24px; }

i.aprs-address-48-1-1 {
  background-position: -48px -48px; }

i.aprs-address-64-1-1 {
  background-position: -64px -64px; }

i.aprs-address-128-1-1 {
  background-position: -128px -128px; }

i.aprs-address-1-1 {
  background-position: -24px -24px; }

i.aprs-address-24-1-2 {
  background-position: -48px -24px; }

i.aprs-address-48-1-2 {
  background-position: -96px -48px; }

i.aprs-address-64-1-2 {
  background-position: -128px -64px; }

i.aprs-address-128-1-2 {
  background-position: -256px -128px; }

i.aprs-address-1-2 {
  background-position: -48px -24px; }

i.aprs-address-24-1-3 {
  background-position: -72px -24px; }

i.aprs-address-48-1-3 {
  background-position: -144px -48px; }

i.aprs-address-64-1-3 {
  background-position: -192px -64px; }

i.aprs-address-128-1-3 {
  background-position: -384px -128px; }

i.aprs-address-1-3 {
  background-position: -72px -24px; }

i.aprs-address-24-1-4 {
  background-position: -96px -24px; }

i.aprs-address-48-1-4 {
  background-position: -192px -48px; }

i.aprs-address-64-1-4 {
  background-position: -256px -64px; }

i.aprs-address-128-1-4 {
  background-position: -512px -128px; }

i.aprs-address-1-4 {
  background-position: -96px -24px; }

i.aprs-address-24-1-5 {
  background-position: -120px -24px; }

i.aprs-address-48-1-5 {
  background-position: -240px -48px; }

i.aprs-address-64-1-5 {
  background-position: -320px -64px; }

i.aprs-address-128-1-5 {
  background-position: -640px -128px; }

i.aprs-address-1-5 {
  background-position: -120px -24px; }

i.aprs-address-24-1-6 {
  background-position: -144px -24px; }

i.aprs-address-48-1-6 {
  background-position: -288px -48px; }

i.aprs-address-64-1-6 {
  background-position: -384px -64px; }

i.aprs-address-128-1-6 {
  background-position: -768px -128px; }

i.aprs-address-1-6 {
  background-position: -144px -24px; }

i.aprs-address-24-1-7 {
  background-position: -168px -24px; }

i.aprs-address-48-1-7 {
  background-position: -336px -48px; }

i.aprs-address-64-1-7 {
  background-position: -448px -64px; }

i.aprs-address-128-1-7 {
  background-position: -896px -128px; }

i.aprs-address-1-7 {
  background-position: -168px -24px; }

i.aprs-address-24-1-8 {
  background-position: -192px -24px; }

i.aprs-address-48-1-8 {
  background-position: -384px -48px; }

i.aprs-address-64-1-8 {
  background-position: -512px -64px; }

i.aprs-address-128-1-8 {
  background-position: -1024px -128px; }

i.aprs-address-1-8 {
  background-position: -192px -24px; }

i.aprs-address-24-1-9 {
  background-position: -216px -24px; }

i.aprs-address-48-1-9 {
  background-position: -432px -48px; }

i.aprs-address-64-1-9 {
  background-position: -576px -64px; }

i.aprs-address-128-1-9 {
  background-position: -1152px -128px; }

i.aprs-address-1-9 {
  background-position: -216px -24px; }

i.aprs-address-24-1-10 {
  background-position: -240px -24px; }

i.aprs-address-48-1-10 {
  background-position: -480px -48px; }

i.aprs-address-64-1-10 {
  background-position: -640px -64px; }

i.aprs-address-128-1-10 {
  background-position: -1280px -128px; }

i.aprs-address-1-10 {
  background-position: -240px -24px; }

i.aprs-address-24-1-11 {
  background-position: -264px -24px; }

i.aprs-address-48-1-11 {
  background-position: -528px -48px; }

i.aprs-address-64-1-11 {
  background-position: -704px -64px; }

i.aprs-address-128-1-11 {
  background-position: -1408px -128px; }

i.aprs-address-1-11 {
  background-position: -264px -24px; }

i.aprs-address-24-1-12 {
  background-position: -288px -24px; }

i.aprs-address-48-1-12 {
  background-position: -576px -48px; }

i.aprs-address-64-1-12 {
  background-position: -768px -64px; }

i.aprs-address-128-1-12 {
  background-position: -1536px -128px; }

i.aprs-address-1-12 {
  background-position: -288px -24px; }

i.aprs-address-24-1-13 {
  background-position: -312px -24px; }

i.aprs-address-48-1-13 {
  background-position: -624px -48px; }

i.aprs-address-64-1-13 {
  background-position: -832px -64px; }

i.aprs-address-128-1-13 {
  background-position: -1664px -128px; }

i.aprs-address-1-13 {
  background-position: -312px -24px; }

i.aprs-address-24-1-14 {
  background-position: -336px -24px; }

i.aprs-address-48-1-14 {
  background-position: -672px -48px; }

i.aprs-address-64-1-14 {
  background-position: -896px -64px; }

i.aprs-address-128-1-14 {
  background-position: -1792px -128px; }

i.aprs-address-1-14 {
  background-position: -336px -24px; }

i.aprs-address-24-1-15 {
  background-position: -360px -24px; }

i.aprs-address-48-1-15 {
  background-position: -720px -48px; }

i.aprs-address-64-1-15 {
  background-position: -960px -64px; }

i.aprs-address-128-1-15 {
  background-position: -1920px -128px; }

i.aprs-address-1-15 {
  background-position: -360px -24px; }

i.aprs-address-24-2-0 {
  background-position: -0px -48px; }

i.aprs-address-48-2-0 {
  background-position: -0px -96px; }

i.aprs-address-64-2-0 {
  background-position: -0px -128px; }

i.aprs-address-128-2-0 {
  background-position: -0px -256px; }

i.aprs-address-2-0 {
  background-position: -0px -48px; }

i.aprs-address-24-2-1 {
  background-position: -24px -48px; }

i.aprs-address-48-2-1 {
  background-position: -48px -96px; }

i.aprs-address-64-2-1 {
  background-position: -64px -128px; }

i.aprs-address-128-2-1 {
  background-position: -128px -256px; }

i.aprs-address-2-1 {
  background-position: -24px -48px; }

i.aprs-address-24-2-2 {
  background-position: -48px -48px; }

i.aprs-address-48-2-2 {
  background-position: -96px -96px; }

i.aprs-address-64-2-2 {
  background-position: -128px -128px; }

i.aprs-address-128-2-2 {
  background-position: -256px -256px; }

i.aprs-address-2-2 {
  background-position: -48px -48px; }

i.aprs-address-24-2-3 {
  background-position: -72px -48px; }

i.aprs-address-48-2-3 {
  background-position: -144px -96px; }

i.aprs-address-64-2-3 {
  background-position: -192px -128px; }

i.aprs-address-128-2-3 {
  background-position: -384px -256px; }

i.aprs-address-2-3 {
  background-position: -72px -48px; }

i.aprs-address-24-2-4 {
  background-position: -96px -48px; }

i.aprs-address-48-2-4 {
  background-position: -192px -96px; }

i.aprs-address-64-2-4 {
  background-position: -256px -128px; }

i.aprs-address-128-2-4 {
  background-position: -512px -256px; }

i.aprs-address-2-4 {
  background-position: -96px -48px; }

i.aprs-address-24-2-5 {
  background-position: -120px -48px; }

i.aprs-address-48-2-5 {
  background-position: -240px -96px; }

i.aprs-address-64-2-5 {
  background-position: -320px -128px; }

i.aprs-address-128-2-5 {
  background-position: -640px -256px; }

i.aprs-address-2-5 {
  background-position: -120px -48px; }

i.aprs-address-24-2-6 {
  background-position: -144px -48px; }

i.aprs-address-48-2-6 {
  background-position: -288px -96px; }

i.aprs-address-64-2-6 {
  background-position: -384px -128px; }

i.aprs-address-128-2-6 {
  background-position: -768px -256px; }

i.aprs-address-2-6 {
  background-position: -144px -48px; }

i.aprs-address-24-2-7 {
  background-position: -168px -48px; }

i.aprs-address-48-2-7 {
  background-position: -336px -96px; }

i.aprs-address-64-2-7 {
  background-position: -448px -128px; }

i.aprs-address-128-2-7 {
  background-position: -896px -256px; }

i.aprs-address-2-7 {
  background-position: -168px -48px; }

i.aprs-address-24-2-8 {
  background-position: -192px -48px; }

i.aprs-address-48-2-8 {
  background-position: -384px -96px; }

i.aprs-address-64-2-8 {
  background-position: -512px -128px; }

i.aprs-address-128-2-8 {
  background-position: -1024px -256px; }

i.aprs-address-2-8 {
  background-position: -192px -48px; }

i.aprs-address-24-2-9 {
  background-position: -216px -48px; }

i.aprs-address-48-2-9 {
  background-position: -432px -96px; }

i.aprs-address-64-2-9 {
  background-position: -576px -128px; }

i.aprs-address-128-2-9 {
  background-position: -1152px -256px; }

i.aprs-address-2-9 {
  background-position: -216px -48px; }

i.aprs-address-24-2-10 {
  background-position: -240px -48px; }

i.aprs-address-48-2-10 {
  background-position: -480px -96px; }

i.aprs-address-64-2-10 {
  background-position: -640px -128px; }

i.aprs-address-128-2-10 {
  background-position: -1280px -256px; }

i.aprs-address-2-10 {
  background-position: -240px -48px; }

i.aprs-address-24-2-11 {
  background-position: -264px -48px; }

i.aprs-address-48-2-11 {
  background-position: -528px -96px; }

i.aprs-address-64-2-11 {
  background-position: -704px -128px; }

i.aprs-address-128-2-11 {
  background-position: -1408px -256px; }

i.aprs-address-2-11 {
  background-position: -264px -48px; }

i.aprs-address-24-2-12 {
  background-position: -288px -48px; }

i.aprs-address-48-2-12 {
  background-position: -576px -96px; }

i.aprs-address-64-2-12 {
  background-position: -768px -128px; }

i.aprs-address-128-2-12 {
  background-position: -1536px -256px; }

i.aprs-address-2-12 {
  background-position: -288px -48px; }

i.aprs-address-24-2-13 {
  background-position: -312px -48px; }

i.aprs-address-48-2-13 {
  background-position: -624px -96px; }

i.aprs-address-64-2-13 {
  background-position: -832px -128px; }

i.aprs-address-128-2-13 {
  background-position: -1664px -256px; }

i.aprs-address-2-13 {
  background-position: -312px -48px; }

i.aprs-address-24-2-14 {
  background-position: -336px -48px; }

i.aprs-address-48-2-14 {
  background-position: -672px -96px; }

i.aprs-address-64-2-14 {
  background-position: -896px -128px; }

i.aprs-address-128-2-14 {
  background-position: -1792px -256px; }

i.aprs-address-2-14 {
  background-position: -336px -48px; }

i.aprs-address-24-2-15 {
  background-position: -360px -48px; }

i.aprs-address-48-2-15 {
  background-position: -720px -96px; }

i.aprs-address-64-2-15 {
  background-position: -960px -128px; }

i.aprs-address-128-2-15 {
  background-position: -1920px -256px; }

i.aprs-address-2-15 {
  background-position: -360px -48px; }

i.aprs-address-24-3-0 {
  background-position: -0px -72px; }

i.aprs-address-48-3-0 {
  background-position: -0px -144px; }

i.aprs-address-64-3-0 {
  background-position: -0px -192px; }

i.aprs-address-128-3-0 {
  background-position: -0px -384px; }

i.aprs-address-3-0 {
  background-position: -0px -72px; }

i.aprs-address-24-3-1 {
  background-position: -24px -72px; }

i.aprs-address-48-3-1 {
  background-position: -48px -144px; }

i.aprs-address-64-3-1 {
  background-position: -64px -192px; }

i.aprs-address-128-3-1 {
  background-position: -128px -384px; }

i.aprs-address-3-1 {
  background-position: -24px -72px; }

i.aprs-address-24-3-2 {
  background-position: -48px -72px; }

i.aprs-address-48-3-2 {
  background-position: -96px -144px; }

i.aprs-address-64-3-2 {
  background-position: -128px -192px; }

i.aprs-address-128-3-2 {
  background-position: -256px -384px; }

i.aprs-address-3-2 {
  background-position: -48px -72px; }

i.aprs-address-24-3-3 {
  background-position: -72px -72px; }

i.aprs-address-48-3-3 {
  background-position: -144px -144px; }

i.aprs-address-64-3-3 {
  background-position: -192px -192px; }

i.aprs-address-128-3-3 {
  background-position: -384px -384px; }

i.aprs-address-3-3 {
  background-position: -72px -72px; }

i.aprs-address-24-3-4 {
  background-position: -96px -72px; }

i.aprs-address-48-3-4 {
  background-position: -192px -144px; }

i.aprs-address-64-3-4 {
  background-position: -256px -192px; }

i.aprs-address-128-3-4 {
  background-position: -512px -384px; }

i.aprs-address-3-4 {
  background-position: -96px -72px; }

i.aprs-address-24-3-5 {
  background-position: -120px -72px; }

i.aprs-address-48-3-5 {
  background-position: -240px -144px; }

i.aprs-address-64-3-5 {
  background-position: -320px -192px; }

i.aprs-address-128-3-5 {
  background-position: -640px -384px; }

i.aprs-address-3-5 {
  background-position: -120px -72px; }

i.aprs-address-24-3-6 {
  background-position: -144px -72px; }

i.aprs-address-48-3-6 {
  background-position: -288px -144px; }

i.aprs-address-64-3-6 {
  background-position: -384px -192px; }

i.aprs-address-128-3-6 {
  background-position: -768px -384px; }

i.aprs-address-3-6 {
  background-position: -144px -72px; }

i.aprs-address-24-3-7 {
  background-position: -168px -72px; }

i.aprs-address-48-3-7 {
  background-position: -336px -144px; }

i.aprs-address-64-3-7 {
  background-position: -448px -192px; }

i.aprs-address-128-3-7 {
  background-position: -896px -384px; }

i.aprs-address-3-7 {
  background-position: -168px -72px; }

i.aprs-address-24-3-8 {
  background-position: -192px -72px; }

i.aprs-address-48-3-8 {
  background-position: -384px -144px; }

i.aprs-address-64-3-8 {
  background-position: -512px -192px; }

i.aprs-address-128-3-8 {
  background-position: -1024px -384px; }

i.aprs-address-3-8 {
  background-position: -192px -72px; }

i.aprs-address-24-3-9 {
  background-position: -216px -72px; }

i.aprs-address-48-3-9 {
  background-position: -432px -144px; }

i.aprs-address-64-3-9 {
  background-position: -576px -192px; }

i.aprs-address-128-3-9 {
  background-position: -1152px -384px; }

i.aprs-address-3-9 {
  background-position: -216px -72px; }

i.aprs-address-24-3-10 {
  background-position: -240px -72px; }

i.aprs-address-48-3-10 {
  background-position: -480px -144px; }

i.aprs-address-64-3-10 {
  background-position: -640px -192px; }

i.aprs-address-128-3-10 {
  background-position: -1280px -384px; }

i.aprs-address-3-10 {
  background-position: -240px -72px; }

i.aprs-address-24-3-11 {
  background-position: -264px -72px; }

i.aprs-address-48-3-11 {
  background-position: -528px -144px; }

i.aprs-address-64-3-11 {
  background-position: -704px -192px; }

i.aprs-address-128-3-11 {
  background-position: -1408px -384px; }

i.aprs-address-3-11 {
  background-position: -264px -72px; }

i.aprs-address-24-3-12 {
  background-position: -288px -72px; }

i.aprs-address-48-3-12 {
  background-position: -576px -144px; }

i.aprs-address-64-3-12 {
  background-position: -768px -192px; }

i.aprs-address-128-3-12 {
  background-position: -1536px -384px; }

i.aprs-address-3-12 {
  background-position: -288px -72px; }

i.aprs-address-24-3-13 {
  background-position: -312px -72px; }

i.aprs-address-48-3-13 {
  background-position: -624px -144px; }

i.aprs-address-64-3-13 {
  background-position: -832px -192px; }

i.aprs-address-128-3-13 {
  background-position: -1664px -384px; }

i.aprs-address-3-13 {
  background-position: -312px -72px; }

i.aprs-address-24-3-14 {
  background-position: -336px -72px; }

i.aprs-address-48-3-14 {
  background-position: -672px -144px; }

i.aprs-address-64-3-14 {
  background-position: -896px -192px; }

i.aprs-address-128-3-14 {
  background-position: -1792px -384px; }

i.aprs-address-3-14 {
  background-position: -336px -72px; }

i.aprs-address-24-3-15 {
  background-position: -360px -72px; }

i.aprs-address-48-3-15 {
  background-position: -720px -144px; }

i.aprs-address-64-3-15 {
  background-position: -960px -192px; }

i.aprs-address-128-3-15 {
  background-position: -1920px -384px; }

i.aprs-address-3-15 {
  background-position: -360px -72px; }

i.aprs-address-24-4-0 {
  background-position: -0px -96px; }

i.aprs-address-48-4-0 {
  background-position: -0px -192px; }

i.aprs-address-64-4-0 {
  background-position: -0px -256px; }

i.aprs-address-128-4-0 {
  background-position: -0px -512px; }

i.aprs-address-4-0 {
  background-position: -0px -96px; }

i.aprs-address-24-4-1 {
  background-position: -24px -96px; }

i.aprs-address-48-4-1 {
  background-position: -48px -192px; }

i.aprs-address-64-4-1 {
  background-position: -64px -256px; }

i.aprs-address-128-4-1 {
  background-position: -128px -512px; }

i.aprs-address-4-1 {
  background-position: -24px -96px; }

i.aprs-address-24-4-2 {
  background-position: -48px -96px; }

i.aprs-address-48-4-2 {
  background-position: -96px -192px; }

i.aprs-address-64-4-2 {
  background-position: -128px -256px; }

i.aprs-address-128-4-2 {
  background-position: -256px -512px; }

i.aprs-address-4-2 {
  background-position: -48px -96px; }

i.aprs-address-24-4-3 {
  background-position: -72px -96px; }

i.aprs-address-48-4-3 {
  background-position: -144px -192px; }

i.aprs-address-64-4-3 {
  background-position: -192px -256px; }

i.aprs-address-128-4-3 {
  background-position: -384px -512px; }

i.aprs-address-4-3 {
  background-position: -72px -96px; }

i.aprs-address-24-4-4 {
  background-position: -96px -96px; }

i.aprs-address-48-4-4 {
  background-position: -192px -192px; }

i.aprs-address-64-4-4 {
  background-position: -256px -256px; }

i.aprs-address-128-4-4 {
  background-position: -512px -512px; }

i.aprs-address-4-4 {
  background-position: -96px -96px; }

i.aprs-address-24-4-5 {
  background-position: -120px -96px; }

i.aprs-address-48-4-5 {
  background-position: -240px -192px; }

i.aprs-address-64-4-5 {
  background-position: -320px -256px; }

i.aprs-address-128-4-5 {
  background-position: -640px -512px; }

i.aprs-address-4-5 {
  background-position: -120px -96px; }

i.aprs-address-24-4-6 {
  background-position: -144px -96px; }

i.aprs-address-48-4-6 {
  background-position: -288px -192px; }

i.aprs-address-64-4-6 {
  background-position: -384px -256px; }

i.aprs-address-128-4-6 {
  background-position: -768px -512px; }

i.aprs-address-4-6 {
  background-position: -144px -96px; }

i.aprs-address-24-4-7 {
  background-position: -168px -96px; }

i.aprs-address-48-4-7 {
  background-position: -336px -192px; }

i.aprs-address-64-4-7 {
  background-position: -448px -256px; }

i.aprs-address-128-4-7 {
  background-position: -896px -512px; }

i.aprs-address-4-7 {
  background-position: -168px -96px; }

i.aprs-address-24-4-8 {
  background-position: -192px -96px; }

i.aprs-address-48-4-8 {
  background-position: -384px -192px; }

i.aprs-address-64-4-8 {
  background-position: -512px -256px; }

i.aprs-address-128-4-8 {
  background-position: -1024px -512px; }

i.aprs-address-4-8 {
  background-position: -192px -96px; }

i.aprs-address-24-4-9 {
  background-position: -216px -96px; }

i.aprs-address-48-4-9 {
  background-position: -432px -192px; }

i.aprs-address-64-4-9 {
  background-position: -576px -256px; }

i.aprs-address-128-4-9 {
  background-position: -1152px -512px; }

i.aprs-address-4-9 {
  background-position: -216px -96px; }

i.aprs-address-24-4-10 {
  background-position: -240px -96px; }

i.aprs-address-48-4-10 {
  background-position: -480px -192px; }

i.aprs-address-64-4-10 {
  background-position: -640px -256px; }

i.aprs-address-128-4-10 {
  background-position: -1280px -512px; }

i.aprs-address-4-10 {
  background-position: -240px -96px; }

i.aprs-address-24-4-11 {
  background-position: -264px -96px; }

i.aprs-address-48-4-11 {
  background-position: -528px -192px; }

i.aprs-address-64-4-11 {
  background-position: -704px -256px; }

i.aprs-address-128-4-11 {
  background-position: -1408px -512px; }

i.aprs-address-4-11 {
  background-position: -264px -96px; }

i.aprs-address-24-4-12 {
  background-position: -288px -96px; }

i.aprs-address-48-4-12 {
  background-position: -576px -192px; }

i.aprs-address-64-4-12 {
  background-position: -768px -256px; }

i.aprs-address-128-4-12 {
  background-position: -1536px -512px; }

i.aprs-address-4-12 {
  background-position: -288px -96px; }

i.aprs-address-24-4-13 {
  background-position: -312px -96px; }

i.aprs-address-48-4-13 {
  background-position: -624px -192px; }

i.aprs-address-64-4-13 {
  background-position: -832px -256px; }

i.aprs-address-128-4-13 {
  background-position: -1664px -512px; }

i.aprs-address-4-13 {
  background-position: -312px -96px; }

i.aprs-address-24-4-14 {
  background-position: -336px -96px; }

i.aprs-address-48-4-14 {
  background-position: -672px -192px; }

i.aprs-address-64-4-14 {
  background-position: -896px -256px; }

i.aprs-address-128-4-14 {
  background-position: -1792px -512px; }

i.aprs-address-4-14 {
  background-position: -336px -96px; }

i.aprs-address-24-4-15 {
  background-position: -360px -96px; }

i.aprs-address-48-4-15 {
  background-position: -720px -192px; }

i.aprs-address-64-4-15 {
  background-position: -960px -256px; }

i.aprs-address-128-4-15 {
  background-position: -1920px -512px; }

i.aprs-address-4-15 {
  background-position: -360px -96px; }

i.aprs-address-24-5-0 {
  background-position: -0px -120px; }

i.aprs-address-48-5-0 {
  background-position: -0px -240px; }

i.aprs-address-64-5-0 {
  background-position: -0px -320px; }

i.aprs-address-128-5-0 {
  background-position: -0px -640px; }

i.aprs-address-5-0 {
  background-position: -0px -120px; }

i.aprs-address-24-5-1 {
  background-position: -24px -120px; }

i.aprs-address-48-5-1 {
  background-position: -48px -240px; }

i.aprs-address-64-5-1 {
  background-position: -64px -320px; }

i.aprs-address-128-5-1 {
  background-position: -128px -640px; }

i.aprs-address-5-1 {
  background-position: -24px -120px; }

i.aprs-address-24-5-2 {
  background-position: -48px -120px; }

i.aprs-address-48-5-2 {
  background-position: -96px -240px; }

i.aprs-address-64-5-2 {
  background-position: -128px -320px; }

i.aprs-address-128-5-2 {
  background-position: -256px -640px; }

i.aprs-address-5-2 {
  background-position: -48px -120px; }

i.aprs-address-24-5-3 {
  background-position: -72px -120px; }

i.aprs-address-48-5-3 {
  background-position: -144px -240px; }

i.aprs-address-64-5-3 {
  background-position: -192px -320px; }

i.aprs-address-128-5-3 {
  background-position: -384px -640px; }

i.aprs-address-5-3 {
  background-position: -72px -120px; }

i.aprs-address-24-5-4 {
  background-position: -96px -120px; }

i.aprs-address-48-5-4 {
  background-position: -192px -240px; }

i.aprs-address-64-5-4 {
  background-position: -256px -320px; }

i.aprs-address-128-5-4 {
  background-position: -512px -640px; }

i.aprs-address-5-4 {
  background-position: -96px -120px; }

i.aprs-address-24-5-5 {
  background-position: -120px -120px; }

i.aprs-address-48-5-5 {
  background-position: -240px -240px; }

i.aprs-address-64-5-5 {
  background-position: -320px -320px; }

i.aprs-address-128-5-5 {
  background-position: -640px -640px; }

i.aprs-address-5-5 {
  background-position: -120px -120px; }

i.aprs-address-24-5-6 {
  background-position: -144px -120px; }

i.aprs-address-48-5-6 {
  background-position: -288px -240px; }

i.aprs-address-64-5-6 {
  background-position: -384px -320px; }

i.aprs-address-128-5-6 {
  background-position: -768px -640px; }

i.aprs-address-5-6 {
  background-position: -144px -120px; }

i.aprs-address-24-5-7 {
  background-position: -168px -120px; }

i.aprs-address-48-5-7 {
  background-position: -336px -240px; }

i.aprs-address-64-5-7 {
  background-position: -448px -320px; }

i.aprs-address-128-5-7 {
  background-position: -896px -640px; }

i.aprs-address-5-7 {
  background-position: -168px -120px; }

i.aprs-address-24-5-8 {
  background-position: -192px -120px; }

i.aprs-address-48-5-8 {
  background-position: -384px -240px; }

i.aprs-address-64-5-8 {
  background-position: -512px -320px; }

i.aprs-address-128-5-8 {
  background-position: -1024px -640px; }

i.aprs-address-5-8 {
  background-position: -192px -120px; }

i.aprs-address-24-5-9 {
  background-position: -216px -120px; }

i.aprs-address-48-5-9 {
  background-position: -432px -240px; }

i.aprs-address-64-5-9 {
  background-position: -576px -320px; }

i.aprs-address-128-5-9 {
  background-position: -1152px -640px; }

i.aprs-address-5-9 {
  background-position: -216px -120px; }

i.aprs-address-24-5-10 {
  background-position: -240px -120px; }

i.aprs-address-48-5-10 {
  background-position: -480px -240px; }

i.aprs-address-64-5-10 {
  background-position: -640px -320px; }

i.aprs-address-128-5-10 {
  background-position: -1280px -640px; }

i.aprs-address-5-10 {
  background-position: -240px -120px; }

i.aprs-address-24-5-11 {
  background-position: -264px -120px; }

i.aprs-address-48-5-11 {
  background-position: -528px -240px; }

i.aprs-address-64-5-11 {
  background-position: -704px -320px; }

i.aprs-address-128-5-11 {
  background-position: -1408px -640px; }

i.aprs-address-5-11 {
  background-position: -264px -120px; }

i.aprs-address-24-5-12 {
  background-position: -288px -120px; }

i.aprs-address-48-5-12 {
  background-position: -576px -240px; }

i.aprs-address-64-5-12 {
  background-position: -768px -320px; }

i.aprs-address-128-5-12 {
  background-position: -1536px -640px; }

i.aprs-address-5-12 {
  background-position: -288px -120px; }

i.aprs-address-24-5-13 {
  background-position: -312px -120px; }

i.aprs-address-48-5-13 {
  background-position: -624px -240px; }

i.aprs-address-64-5-13 {
  background-position: -832px -320px; }

i.aprs-address-128-5-13 {
  background-position: -1664px -640px; }

i.aprs-address-5-13 {
  background-position: -312px -120px; }

i.aprs-address-24-5-14 {
  background-position: -336px -120px; }

i.aprs-address-48-5-14 {
  background-position: -672px -240px; }

i.aprs-address-64-5-14 {
  background-position: -896px -320px; }

i.aprs-address-128-5-14 {
  background-position: -1792px -640px; }

i.aprs-address-5-14 {
  background-position: -336px -120px; }

i.aprs-address-24-5-15 {
  background-position: -360px -120px; }

i.aprs-address-48-5-15 {
  background-position: -720px -240px; }

i.aprs-address-64-5-15 {
  background-position: -960px -320px; }

i.aprs-address-128-5-15 {
  background-position: -1920px -640px; }

i.aprs-address-5-15 {
  background-position: -360px -120px; }
